@model IEnumerable<DPS.Models.dolci>;

<div class="form-group">
    <label for="ddlSweets">Sweet</label>
    <select id="ddlSweets" class="form-select" aria-label="Default select example" onchange="RefreshForm()">
        @foreach(var item in Model) 
        { 
            <option value="@item.id">@item.nome</option> 

        } 
    </select> 
</div>

<div class="form-group">
    <label for="Price">Price</label>
    <input type="number" class="form-control" id="Price" placeholder="Price" disabled value="@Model.FirstOrDefault().prezzo">
</div>
<div class="form-group">
    <label for="Quantity">Quantity available</label>
    <input type="number" class="form-control" id="Quantity" placeholder="Quantity" disabled value="@Model.FirstOrDefault().quantita">
</div>
<div class="form-group">
    <label for="NQuantity">Number of items to purchase</label>
    <input type="number" class="form-control" id="NQuantity" placeholder="0" value="0">
</div>
<button type="submit" id="btnBuy" class="btn btn-primary" onclick="BuyBtnClicked()">Buy</button>


<script>
    function BuyBtnClicked() {
        var quantity = document.getElementById('Quantity').value; 
        var nquantity = document.getElementById('NQuantity').value;
        var quantityValue = parseInt(quantity, 10);  
        var nquantityValue = parseInt(nquantity, 10);
        
        if(quantityValue < nquantityValue) {
            alert('Not enough sweet avaible');
            return;
        }
        var formObj = new Object();
        formObj.id = document.getElementById('ddlSweets').value; 
        formObj.quantita = quantity - nquantity; 
        var formData = new FormData(); 
        formData.append('id', formObj.id); 
        console.log(formData)
        formData.append('quantita', formObj.quantita); 

        var xhr = new XMLHttpRequest();
        xhr.open('PUT', 'http://localhost:5154/Home/BuySweetById');
        xhr.onload = function() {
            if (xhr.status === 200) {
                var sweet = JSON.parse(xhr.responseText);   
                alert(sweet);
                RefreshForm();
                location.reload();
            } else {
            alert('Error:', xhr.statusText);
            }
        };
        xhr.send(formData);
    } 

    function RefreshForm() { 
        var formObj = new Object();
        formObj.id = document.getElementById('ddlSweets').value; 
        var formData = new FormData();
        formData.append('id', formObj.id); 

        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'http://localhost:5154/Home/GetSweetById/' + formObj.id);
        xhr.onload = function() {
            if (xhr.status === 200) {
                var sweet = JSON.parse(xhr.responseText);  
                var d = sweet.data;
                console.log(d);

                document.getElementById('Price').value = sweet.prezzo;
                document.getElementById('Quantity').value = sweet.quantita;
            } else {
            alert('Error:', xhr.statusText);
            }
        };
        xhr.send();
    }
</script>